<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="description" content="IRC logs by SNAILBot" />
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR BASE_URL>style.css" title="Irclog default Stylesheet" />
    <link rel="shortcut icon" href="<TMPL_VAR BASE_URL>moose1.ico" type="image/x-icon" />
    <title><TMPL_IF SITE_NAME><TMPL_VAR SITE_NAME> </TMPL_IF>IRC logs - <TMPL_VAR SERVER>/#<TMPL_VAR CHANNEL></title>

    <TMPL_IF USERCOUNT_DATA>
    <!--[if IE]><script src="<TMPL_VAR BASE_URL>js/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="http://danvk.org/dygraphs/dygraph-combined.js"></script>
    </TMPL_IF>

    <TMPL_VAR NAME=ANALYTICS_HEADER DEFAULT="">
</head>
<body>
    <TMPL_IF USERCOUNT_DATA>
    <TMPL_VAR NAME=USERCOUNT_CHART DEFAULT="">
    <script type="text/javascript">
        var usercountdata = new Array();
        <TMPL_LOOP USERCOUNT_DATA>usercountdata[<TMPL_VAR ID>] = "<TMPL_VAR DATETIME>,<TMPL_VAR COUNT>";</TMPL_LOOP>
        guc = new Dygraph(
            document.getElementById("div_guc"),
            function getUsercountData() {
                return "" +
                "Date,Usercount\n" +
                usercountdata.join("\n");
            }
            );
    </script>
    </TMPL_IF>
    <TMPL_VAR NAME=CHANNEL_LOGO DEFAULT="">

    <h1><TMPL_IF SITE_NAME><TMPL_VAR SITE_NAME> </TMPL_IF>IRC logs - Channel Index</h1>

    <TMPL_VAR NAME=CHANNEL_LINKS DEFAULT="">
	<TMPL_INCLUDE linkblock.tmpl>

	<h2 id="<TMPL_VAR CHANNEL>"><TMPL_VAR SERVER>/#<TMPL_VAR CHANNEL></h2>
	<p><strong><a href="<TMPL_VAR BASE_URL><TMPL_VAR NAME=SERVER ESCAPE=URL>/<TMPL_VAR NAME=CHANNEL ESCAPE=URL>/today">Today</a></strong></p>

	<TMPL_VAR CALENDAR>

    <TMPL_INCLUDE footer.tmpl>
  </body>
</html>
