<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="description" content="IRC logs by SNAILBot" />
    <TMPL_IF IOS>
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR BASE_URL>iphone.css" title="SNAILBot iPhone Stylesheet" />
    <TMPL_ELSE>
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR BASE_URL>desktop.css" title="SNAILBot Desktop Stylesheet" />
    </TMPL_IF>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <link rel="shortcut icon" href="<TMPL_VAR BASE_URL>moose1.ico" type="image/x-icon" />
    <title><TMPL_IF SITE_NAME><TMPL_VAR SITE_NAME> </TMPL_IF>IRC logs - Index</title>

    <TMPL_VAR NAME=ANALYTICS_HEADER DEFAULT="">
</head>
<body>
    <div id="header">
    <h1>Index of <TMPL_IF SITE_NAME><TMPL_VAR SITE_NAME> </TMPL_IF>IRC logs</h1>

    <p><a href="<TMPL_VAR BASE_URL>search.pl">Search the logs</a></p>
    </div>

    <div id="content">
	<h2>Servers</h2>

	<ul><TMPL_LOOP SERVERS>
		<li><a href="<TMPL_VAR BASE_URL><TMPL_VAR NAME=SERVER ESCAPE=URL>/"><TMPL_VAR SERVER></a></li>
    </TMPL_LOOP>
	</ul>
    </div>

    <TMPL_INCLUDE NAME="footer.tmpl">
  </body>
</html>
