<p> <a href="http://openhatch.org/">OpenHatch</a>
  | <a href="http://openhatch.org/search/">Bug Search</a>
  | <a href="http://openhatch.org/people/">People</a>
  | <a href="http://openhatch.org/wiki/">Wiki</a>
  | <a href="http://openhatch.org/blog/">Blog</a>
  | <a href="http://openhatch.org/bugs/">Bug tracker</a>
</p>
