/* general */

body {
    background-color: #ddd; /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;              /* Amount of negative space around the outside of the body */
    padding: 0;             /* Amount of negative space around the inside of the body */
}
#header h1 {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    border-bottom: 1px solid #666;
    color: #222;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, 
                                       from(#ccc), to(#999));
}
#header p {
    list-style: none;
    margin: 10px;
    padding: 0;
}
#header p a {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}
#content, #footer {
    padding: 10px;
}
#footer {
    margin: 0;
    padding: 0;
    background-color: #bbb;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    color: #222;
    display: block;
    font-size: 10px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
}
#header p a:first-child {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
#header p a:last-child {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
#header p.hide {
    display: none;
}
#header div.leftButton {
    position: absolute;
    top: 7px;
    left: 6px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    line-height: 28px;
    border-width: 0 8px 0 8px;
}

/* day log page */

.dark {
    background-color: #bbbbbb
}
.special {
    font-size: 80%
}
.special * {
    color: gray
}
tr, td {
    vertical-align: top;
}
#log {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #999999;
}
#log tr { border-top: 1px solid #999999; }
#log tr.dark { border-top: 1px solid #999999; }
#log th { border-bottom: 1px solid #606060; }
#log .nick {
    text-align: right;
    border-right: 1px solid #606060;
}
#log .time { border-left:  1px solid #999999; border-right: 1px solid #999999; }
#log .msg  { border-right: 1px solid #999999; line-height: 1.3em; }
#log .act  { font-style: italic; }
#log td.msg { text-align: left !important; }

/* channel index page */

.calendar {
    margin: 0.7em;
    border-collapse: collapse;
}
.calendar th,td {
    height: 1.4em;
    border: 1px solid #999999;
}
.calendar td {
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}
