    <p><a href="http://www.getsongbird.com/"><img style="float:right; border:none"
    src="http://www.getsongbird.com/images/songbird_logo.png"
    width="208" height="68" alt="The Songbird logo"/></a></p>
