    <p><a href="http://buildbot.net/"><img style="float:right; border:none"
    src="http://buildbot.net/trac/chrome/site/header-text-transparent.png"
    width="236" height="73" alt="The Buildbot logo"/></a></p>
