    <p><a href="http://openhatch.org/"><img style="float:right; border:none"
    src="http://openhatch.org/static/images/profile-photos/penguin.png"
    width="200" height="257" alt="The OpenHatch penguin"/></a></p>
