    <p><a href="http://www.virtualbox.org/"><img style="float:right; border:none"
    src="http://www.virtualbox.org/graphics/vbox_logo2_gradient.png"
    width="140" height="180" alt="The VirtualBox logo"/></a></p>
